div {
  box-sizing: border-box;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider {
  width: 250px;
  margin-bottom: 30px;
}

.slider__input {
  width: 100%;
}

.date {
  width: 600px;
}

.date__chart {
  width: 100%;
  height: 350px;
  background-color: rgb(201, 201, 201);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 15px;
  overflow: hidden;
}

.graph {
  display: flex;
  flex-direction: column-reverse;
}

.graph__chart {
  width: 90px;
  height: 200px;
  box-shadow: -8px 5px 18px #3d3d3d;
  background-color: rgb(163, 161, 161);
}

.graph__text {
  text-align: center;
  line-height: 0;
}

.low-price#backblaze {
  background-color: red;
}

.low-price#bunny {
  background-color: orange;
}

.low-price#scaleway {
  background-color: purple;
}

.low-price#vultr {
  background-color: lightblue;
}

.date__info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(201, 201, 201);
}

.date__company {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.date__company-input {
  margin-top: 15px;
}

@media (max-width: 630px) {
  .calculator {
    display: flex;
    flex-direction: column-reverse;
  }

  .calculator__date {
    display: flex;
    flex-direction: row-reverse;
  }
  .date__info {
    display: block;
    width: 30%;
  }
  .date__chart {
    flex-direction: column;
    height: 25%;
    align-items: flex-start;
  }
  .graph__chart {
    height: 50px;
  }
}